<div ng-cloak>

  <div>
    <uib-navbar></uib-navbar>
  </div>

  <div class="framework-main">
    <uib-sidebar class="sidebar-full" is-collapse="userview.isCollapse" groups="userview.sidebarGroups"></uib-sidebar>

    <div class="framework-body">
      <uib-breadcrumb class="breadcrumb-wrapper" breads="userview.breads"></uib-breadcrumb>

      <div ng-if="type === 'create'">
        <div class="tools">
          <div class="btn-group" role="group" aria-label="">
            <a href="{{redirect_url}}" class="btn btn-default btn-info" uib-tooltip="返回" tooltip-append-to-body="true" tooltip-placement="top" ><i class="fa fa-fw fa-chevron-left"></i><span class="hidden-xs"> 返回</span></a>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-12">
            <div class="panel panel-default panel-csc">
              <div class="panel-heading">
                <div class="panel-title">新增用户</div>
              </div>
              <div class="panel-body">
                <form class="form form-horizontal" ng-submit="createSubmit()">
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>用户姓名:</label>
                    <div class="col-sm-10">
                      <input type="text" ng-model="info.user_name" class="form-control" placeholder="用户姓名">
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>登录密码:</label>
                    <div class="col-sm-10">
                      <input type="password" ng-model="info.user_password" class="form-control" placeholder="登录密码">
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>确认登录密码:</label>
                    <div class="col-sm-10">
                      <input type="password" ng-model="info.user_confirm" class="form-control" placeholder="确认登录密码">
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>钉钉账号:</label>
                    <div class="col-sm-10">
                      <input type="text" ng-model="info.user_dd" class="form-control" placeholder="钉钉账号">
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>手机号:</label>
                    <div class="col-sm-10">
                      <input type="text" ng-model="info.user_cellphone" class="form-control" placeholder="手机号">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>用户角色:</label>
                    <div class="col-sm-10">
                      <div class="form-control-select">
                        <select name="role" class="input-select input-select-w100" placeholder="用户角色"></select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="btn-group" role="group" aria-label="">
                        <button class="btn btn-default btn-success"><i class="fa fa-fw fa-save"></i> 保存</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="">
                        <a href="{{redirect_url}}" class="btn btn-default btn-danger"><i class="fa fa-fw fa-mail-forward"></i> 放弃</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="type === 'view'">
        <div class="tools">
          <div class="btn-group" role="group" aria-label="">
            <a href="{{redirect_url}}" class="btn btn-default btn-info" uib-tooltip="返回" tooltip-append-to-body="true" tooltip-placement="top" ><i class="fa fa-fw fa-chevron-left"></i><span class="hidden-xs"> 返回</span></a>
          </div>
          <div class="btn-group" role="group" aria-label="">
            <a ng-click="gouserview('edit', id)" class="btn btn-default btn-warning" uib-tooltip="编辑" tooltip-append-to-body="true" tooltip-placement="top" ><i class="fa fa-fw fa-edit"></i><span class="hidden-xs"> 编辑</span></a>
          </div>
          <div class="btn-group" role="group" aria-label="">
            <a ng-click="deleteSubmit(id)" class="btn btn-default btn-danger" uib-tooltip="删除" tooltip-append-to-body="true" tooltip-placement="top" ><i class="fa fa-fw fa-trash"></i><span class="hidden-xs"> 删除</span></a>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-12">
            <div class="panel panel-default panel-csc">
              <div class="panel-heading">
                <div class="panel-title">查看用户</div>
              </div>
              <div class="panel-body">
                <div class="form form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>用户姓名:</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{info.user_name}} <a ng-click="gouserview('reset', id)">重置密码</a></p>
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>钉钉账号:</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{info.user_dd || '未填写'}}</p>
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>手机号:</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{info.user_cellphone || '未填写'}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>用户角色:</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{info.user_role || '未填写'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="type === 'edit'">
        <div class="tools">
          <div class="btn-group" role="group" aria-label="">
            <a href="{{redirect_url}}" class="btn btn-default btn-info" uib-tooltip="返回" tooltip-append-to-body="true" tooltip-placement="top" ><i class="fa fa-fw fa-chevron-left"></i><span class="hidden-xs"> 返回</span></a>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-12">
            <div class="panel panel-default panel-csc">
              <div class="panel-heading">
                <div class="panel-title">编辑用户</div>
              </div>
              <div class="panel-body">
                <form class="form form-horizontal" ng-submit="editSubmit(id)">
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>用户姓名:</label>
                    <div class="col-sm-10">
                      <input type="text" ng-model="info.user_name" class="form-control" placeholder="用户姓名">
                    </div>
                  </div>

                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>钉钉账号:</label>
                    <div class="col-sm-10">
                      <input type="text" ng-model="info.user_dd" class="form-control" placeholder="钉钉账号">
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>手机号:</label>
                    <div class="col-sm-10">
                      <input type="text" ng-model="info.user_cellphone" class="form-control" placeholder="手机号">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>用户角色:</label>
                    <div class="col-sm-10">
                      <div class="form-control-select">
                        <select name="role" class="input-select input-select-w100" placeholder="用户角色"></select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="btn-group" role="group" aria-label="">
                        <button class="btn btn-default btn-success"><i class="fa fa-fw fa-save"></i> 保存</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="">
                        <a href="{{redirect_url}}" class="btn btn-default btn-danger"><i class="fa fa-fw fa-mail-forward"></i> 放弃</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="type === 'reset'">
        <div class="tools">
          <div class="btn-group" role="group" aria-label="">
            <a href="{{redirect_url}}" class="btn btn-default btn-info" uib-tooltip="返回" tooltip-append-to-body="true" tooltip-placement="top" ><i class="fa fa-fw fa-chevron-left"></i><span class="hidden-xs"> 返回</span></a>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-12">
            <div class="panel panel-default panel-csc">
              <div class="panel-heading">
                <div class="panel-title">重置密码</div>
              </div>
              <div class="panel-body">
                <form class="form form-horizontal" ng-submit="resetPasswordSubmit(id)">
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>用户姓名:</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{info.user_name}}</p>
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>钉钉账号:</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{info.user_dd || '未填写'}}</p>
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>手机号:</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{info.user_cellphone || '未填写'}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>用户角色:</label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{info.user_role || '未填写'}}</p>
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>登录密码:</label>
                    <div class="col-sm-10">
                      <input type="password" ng-model="info.user_password" class="form-control" placeholder="登录密码">
                    </div>
                  </div>
                  <div class="form-group form-select-group">
                    <label class="col-sm-2 control-label"><span class="span-danger">*</span>确认登录密码:</label>
                    <div class="col-sm-10">
                      <input type="password" ng-model="info.user_confirm" class="form-control" placeholder="确认登录密码">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="btn-group" role="group" aria-label="">
                        <button class="btn btn-default btn-success"><i class="fa fa-fw fa-save"></i> 确定重置</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="">
                        <a href="{{redirect_url}}" class="btn btn-default btn-danger"><i class="fa fa-fw fa-mail-forward"></i> 放弃重置</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
