<div ng-cloak>

  <div>
    <uib-navbar creation-date="main.creationDate"></uib-navbar>
  </div>

  <div class="framework-main">
    <uib-sidebar class="sidebar-full sidebar-mini" is-collapse="main.isCollapse" groups="main.sidebarGroups"></uib-sidebar>

    <div class="framework-body">
      <uib-breadcrumb class="breadcrumb-wrapper" breads="main.breads"></uib-breadcrumb>
      <div uib-tools class="tools" groups="main.btnGroups"></div>

      <div class="row mt-10">
        <div class="col-md-8">
          <div class="panel panel-default panel-csc">
            <div class="panel-heading">
              <div class="panel-title">代理商管理</div>
            </div>
            <div class="panel-body">
              <form class="form form-horizontal">
                <div class="form-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>公司名称:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="公司名称">
                  </div>
                </div>
                <div class="form-group form-select-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>公司地址:</label>
                  <div class="col-sm-8">
                    <div class="form-control-select">
                      <div class="select-group select-group-area select-group-all"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-8">
                    <input type="text" class="form-control" placeholder="街道/路/编号/楼宇/楼层">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>法定代表/实际控制人:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="法定代表/实际控制人">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>手机号:</label>
                  <div class="col-sm-8">
                    <div class="input-group input-group-success">
                      <input type="text" class="form-control" disabled placeholder="手机号" value="13819493700">
                      <a class="input-group-addon"><i class="fa fa-fw fa-mobile"></i></a>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>业务区域:</label>
                  <div class="col-sm-8">
                    <div class="form-control-select">
                      <div class="select-group select-group-area select-group-province"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>营业执照正本扫描件</label>
                  <div class="col-sm-8">
                    <div class="image-group">
                      <div class="input-image" ng-class="{true: 'input-image-add'}[!file]">
                        <div class="image-wrapper">
                          <div class="image-thumbnail" ng-hide="!file" ng-hide="!file" ng-click="viewFile('file', file)">
                            <img ngf-thumbnail="file || 'assets/images/loading.gif'">
                            <div class="operation">
                              <div class="operation-header"><i class="fa fa-fw fa-close" ng-click="removeFile('file', file)"></i></div>
                            </div>
                          </div>
                          <div class="image-upload" ngf-select ng-model="file" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"><i class="fa fa-fw fa-plus"></i></div>
                        </div>
                        <!--<div class="operation" ng-if="file">
                          <div class="operation-header"><i class="fa fa-fw fa-close pull-right" ng-click="removeFile('file', file)"></i></div>
                          <div class="operation-content">
                            <div class="operation-btn-wrapper">
                              <button class="btn btn-default btn-view-large">查看大图</button>
                            </div>
                          </div>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>代理商申请表扫描件</label>
                  <div class="col-sm-8">
                    <div class="image-group">
                      <div class="input-image has-caption" ng-class="{true: 'input-image-add'}[!file1]">
                        <<div class="image-wrapper">
                        <div class="image-thumbnail" ng-hide="!file1" ng-hide="!file1" ng-click="viewFile('file1', file1)">
                          <img ngf-thumbnail="file1 || 'assets/images/loading.gif'">
                          <div class="operation">
                            <div class="operation-header"><i class="fa fa-fw fa-close" ng-click="removeFile('file1', file1)"></i></div>
                          </div>
                        </div>
                        <div class="image-upload" ngf-select ng-model="file1" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" name="file1" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"><i class="fa fa-fw fa-plus"></i></div>
                      </div>
                        <div class="caption">页1</div>
                      </div>
                      <div class="input-image has-caption" ng-class="{true: 'input-image-add'}[!file2]">
                        <div class="image-wrapper">
                          <div class="image-thumbnail" ng-hide="!file2" ng-hide="!file2" ng-click="viewFile('file2', file2)">
                            <img ngf-thumbnail="file2 || 'assets/images/loading.gif'">
                            <div class="operation">
                              <div class="operation-header"><i class="fa fa-fw fa-close" ng-click="removeFile('file2', file2)"></i></div>
                            </div>
                          </div>
                          <div class="image-upload" ngf-select ng-model="file2" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" name="file2" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"><i class="fa fa-fw fa-plus"></i></div>
                        </div>
                        <div class="caption">页2</div>
                      </div>
                      <div class="input-image has-caption" ng-class="{true: 'input-image-add'}[!file3]">
                        <div class="image-wrapper">
                          <div class="image-thumbnail" ng-hide="!file3" ng-hide="!file3" ng-click="viewFile('file3', file3)">
                            <img ngf-thumbnail="file3 || 'assets/images/loading.gif'">
                            <div class="operation">
                              <div class="operation-header"><i class="fa fa-fw fa-close" ng-click="removeFile('file3', file3)"></i></div>
                            </div>
                          </div>
                          <div class="image-upload" ngf-select ng-model="file3" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" name="file3" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"><i class="fa fa-fw fa-plus"></i></div>
                        </div>
                        <div class="caption">页3</div>
                      </div>
                      <div class="input-image has-caption" ng-class="{true: 'input-image-add'}[!file4]">
                        <div class="image-wrapper">
                          <div class="image-thumbnail" ng-hide="!file4" ng-hide="!file4" ng-click="viewFile('file4', file4)">
                            <img ngf-thumbnail="file4 || 'assets/images/loading.gif'">
                            <div class="operation">
                              <div class="operation-header"><i class="fa fa-fw fa-close" ng-click="removeFile('file4', file4)"></i></div>
                            </div>
                          </div>
                          <div class="image-upload" ngf-select ng-model="file4" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" name="file4" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"><i class="fa fa-fw fa-plus"></i></div>
                        </div>
                        <div class="caption">页4</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>法人代表身份证照片</label>
                  <div class="col-sm-8">
                    <div class="image-group">
                      <div class="input-image has-caption" ng-class="{true: 'input-image-add'}[!file5]">
                        <div class="image-wrapper">
                          <div class="image-thumbnail" ng-hide="!file5" ng-hide="!file5" ng-click="viewFile('file5', file5)">
                            <img ngf-thumbnail="file5 || 'assets/images/loading.gif'">
                            <div class="operation">
                              <div class="operation-header"><i class="fa fa-fw fa-close" ng-click="removeFile('file5', file5)"></i></div>
                            </div>
                          </div>
                          <div class="image-upload" ngf-select ng-model="file5" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" name="file5" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"><i class="fa fa-fw fa-plus"></i></div>
                        </div>
                        <div class="caption">正面</div>
                      </div>
                      <div class="input-image has-caption" ng-class="{true: 'input-image-add'}[!file6]">
                        <div class="image-wrapper">
                          <div class="image-thumbnail" ng-hide="!file6" ng-hide="!file6" ng-click="viewFile('file6', file6)">
                            <img ngf-thumbnail="file6 || 'assets/images/loading.gif'">
                            <div class="operation">
                              <div class="operation-header"><i class="fa fa-fw fa-close" ng-click="removeFile('file6', file6)"></i></div>
                            </div>
                          </div>
                          <div class="image-upload" ngf-select ng-model="file6" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" name="file6" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"><i class="fa fa-fw fa-plus"></i></div>
                        </div>
                        <div class="caption">反面</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="form-group">
                  <label class="col-sm-3 control-label">备注:</label>
                  <div class="col-sm-8">
                    <textarea class="form-control form-control-textarea" rows="3" placeholder="请填写备注信息"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-8">
                    <label class="label-checkbox label-checkbox-success">
                      <input type="checkbox" name="checkbox">
                      <i class="icon-checkbox"></i>
                      <div class="text-checkbox">我已同意<a>《服务协议》</a></div>
                    </label>
                  </div>
                </div>-->
                <!-- 多文件上传 -->
                <!--<div class="form-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>营业执照正本扫描件{{!!files && files.length >= 1}}</label>
                  <div class="col-sm-8">
                    <div class="image-group">
                      <div class="input-image" ng-repeat="file in files">
                        <div class="image-wrapper">
                          <div class="image-thumbnail" ng-hide="!file" ng-hide="!file" ng-click="viewFile('file', file)">
                            <img ngf-thumbnail="file || 'assets/images/loading.gif'">
                            <div class="operation">
                              <div class="operation-header"><i class="fa fa-fw fa-close" ng-click="removeFile('files', files, $index)"></i></div>
                            </div>
                          </div>
                        </div>
                        &lt;!&ndash;<div class="operation" ng-if="file">
                          <div class="operation-header"><i class="fa fa-fw fa-close pull-right" ng-click="removeFile('files', files, $index)"></i></div>
                          <div class="operation-content">
                            <div class="operation-btn-wrapper">
                              <button class="btn btn-default btn-view-large">查看大图</button>
                            </div>
                          </div>
                        </div>&ndash;&gt;
                      </div>

                      <div class="input-image input-image-add" ng-class="{true: 'hidden'}[!!files && files.length >= 1]">
                        <div class="image-wrapper">
                          <div class="image-upload" ngf-select ng-model="files" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" ngf-keep="'distinct'" ngf-multiple="true" name="files" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-files="1" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"><i class="fa fa-fw fa-plus"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label"><span class="span-danger">*</span>代理商申请表扫描件{{files1}}</label>
                  <div class="col-sm-8">
                    <div class="image-group">
                      <div class="input-image" ng-repeat="file in files1">
                        <div class="image-wrapper">
                          <div class="image-thumbnail" ng-hide="!file" ng-hide="!file" ng-click="viewFile('file', file)">
                            <img ngf-thumbnail="file || 'assets/images/loading.gif'">
                            <div class="operation">
                              <div class="operation-header"><i class="fa fa-fw fa-close" ng-click="removeFile('files1', files1, $index)"></i></div>
                            </div>
                          </div>
                        </div>
                        &lt;!&ndash;<div class="operation" ng-if="file">
                          <div class="operation-header"><i class="fa fa-fw fa-close pull-right" ng-click="removeFile('files1', files1, $index)"></i></div>
                          <div class="operation-content">
                            <div class="operation-btn-wrapper">
                              <button class="btn btn-default btn-view-large">查看大图</button>
                            </div>
                          </div>
                        </div>&ndash;&gt;
                      </div>

                      <div class="input-image input-image-add" ng-class="{true: 'hidden'}[!!files1 && files1.length >= 4]">
                        <div class="image-wrapper">
                          <div class="image-upload" ngf-select ng-model="files1" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" ngf-keep="'distinct'" ngf-multiple="true" name="files1" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-files="4"  ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}"><i class="fa fa-fw fa-plus"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>-->
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group" role="group" aria-label="">
        <a class="btn btn-default btn-primary"><i class="fa fa-fw fa-save"></i> 保存</a>
      </div>

     <!-- <div class="jumbotron text-center">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">
          <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
          Always a pleasure scaffolding your apps.{{main.toastrConfig.positionClass }}
        </p>
        <p class="" ng-class="main.classAnimation">
          <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
        </p>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
          <div class="thumbnail">
            <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
            <div class="caption">
              <h3>{{ awesomeThing.title }}</h3>
              <p>{{ awesomeThing.description }}</p>
              <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
            </div>
          </div>
        </div>
      </div>-->

    </div>
  </div>

</div>
