<div ng-cloak>
  <script type="text/ng-template" id="modal_profit.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">代理商分润</h3>
    </div>
    <form name="form" ng-submit="$ctrl.submit($ctrl.type, form.$valid)" novalidate>
    <div class="modal-body" id="modal-body">
      <div class="form form-horizontal">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-3 control-label"><span class="span-danger">*</span>公司名称:</label>
              <div class="col-sm-9">
                <p class="form-control-static">{{$ctrl.form.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><span class="span-danger">*</span>渠道码</label>
          <div class="col-sm-9">
            <input type="text" ng-model="$ctrl.form.code" name="code" class="form-control" placeholder="渠道码" required>
            <div class="error-messages" ng-messages="form.code.$error">
              <small class="error" ng-message="required">渠道码（*必填）</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">会员充值分润比:</label>
          <div class="col-sm-9">
            <div class="input-group input-group-info">
              <input type="text" ng-model="$ctrl.form.profits.pct_charge" name="pct_charge" class="form-control" placeholder="比例" required ng-pattern="/^\d+\.*\d{0,2}$/">
              <span class="input-group-addon">%</span>
            </div>
            <div class="error-messages" ng-messages="form.pct_charge.$error">
              <small class="error" ng-message="required">会员充值分润比（*必填）</small>
              <small class="error" ng-message="pattern">分润比必须为2位小数</small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">水吧零食分润比:</label>
          <div class="col-sm-9">
            <div class="input-group input-group-info">
              <input type="text" ng-model="$ctrl.form.profits.pct_consume" name="pct_consume" class="form-control" placeholder="比例" required ng-pattern="/^\d+\.*\d{0,2}$/">
              <span class="input-group-addon">%</span>
            </div>
            <div class="error-messages" ng-messages="form.pct_consume.$error">
              <small class="error" ng-message="required">水吧零食分润比（*必填）</small>
              <small class="error" ng-message="pattern">分润比必须为2位小数</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-group" role="group" aria-label="">
        <button class="btn btn-default btn-success" ng-disabled="form.$invalid"><i class="fa fa-fw fa-save"></i> 保存</button>
      </div>
      <div class="btn-group" role="group" aria-label="">
        <button type="button" class="btn btn-default btn-danger" ng-click="$ctrl.cancel()"><i class="fa fa-fw fa-mail-forward"></i> 取消</button>
      </div>
    </div>
    </form>
  </script>

  <div uib-navbar profile="profile"></div>

  <div class="framework-main">
    <div uib-sidebar profile="profile" class="sidebar-full" is-collapse="profit.isCollapse" groups="profit.sidebarGroups"></div>

    <div class="framework-body">
      <uib-breadcrumb class="breadcrumb-wrapper" breads="profit.breads"></uib-breadcrumb>

      <div class="content">
        <nav class="navbar navbar-default navbar-search">
          <div class="container-fluid">
            <form name="search" class="navbar-form navbar-left" role="search" ng-submit="searchSubmit()">
              <div ng-if="cfg.hasAuth(profile, cfg.api.profit.search.url)" class="form-group">
                <input type="text" ng-model="searchForm.keyWord" name="keyWord" class="form-control min-width-250px" placeholder="关键字/公司名称/渠道码/手机号">
              </div>
              <div ng-if="cfg.hasAuth(profile, cfg.api.profit.search.url)" class="form-group">
                <div class="form-control-select form-control-select-w100">
                  <div class="select-group select-group-area select-group-province"></div>
                </div>
              </div>
              <div ng-if="cfg.hasAuth(profile, cfg.api.profit.search.url)" class="form-group">
                <div class="form-control-select form-control-select-w100">
                  <select name="status" class="input-select input-select-w100" placeholder="全部状态"></select>
                </div>
              </div>
              <div ng-if="cfg.hasAuth(profile, cfg.api.profit.search.url)" class="form-group">
                <button type="submit" class="btn btn-default btn-warning"><i class="fa fa-fw fa-search sr-only"></i> 查询</button>
              </div>
            </form>
          </div>
        </nav>

        <div ng-if="page && !loading" class="table-container">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-vertical-middle table-nowrap">
              <thead>
              <tr>
                <!--<th class="text-center td-w45px">
                  <label class="label-checkbox">
                    <input type="checkbox" name="checkbox" ng-model="chAll" ng-change="checkAll()">
                    <i class="icon-checkbox"></i>
                  </label>
                </th>-->
                <th>公司名称</th>
                <th width="5%">渠道码</th>
                <!--<th width="5%">业务区域</th>-->
                <th width="10%">法人代表/实际控制人</th>
                <th width="8%">手机号</th>
                <th width="7%">状态</th>
                <th width="10%">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="row in page.list">
                <!--<td class="text-center td-w45px" data-id="{{row.id}}">
                  <label class="label-checkbox">
                    <input type="checkbox" name="checkbox" ng-model="row.ch" ng-click="check(page, row.ch)">
                    <i class="icon-checkbox"></i>
                  </label>
                </td>-->
                <td>{{row.name}}</td>
                <td>{{row.code}}</td>
                <!--<td>{{row.business_area && profit.getCityString(row.business_area)}}</td>-->
                <td>{{row.legal}}</td>
                <td>{{row.cellphone}}</td>
                <td>{{!row.profitsSet ? '未设置' : row.profitsSet.length > 0 ? '已设置' : '未设置'}}</td>
                <td>
                  <div ng-if="!row.empty">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="goview('profitview', 'view', row.id)">详情</button>
                    <button ng-if="cfg.hasAuth(profile, cfg.api.profit.save.url)" type="button" ng-if="!(row.profitsSet && row.profitsSet.length > 0)" class="btn btn-info btn-sm" ng-click="operation('create', row)">设置</button>
                    <button ng-if="cfg.hasAuth(profile, cfg.api.profit.update.url)" type="button" ng-if="row.profitsSet && row.profitsSet.length > 0" class="btn btn-warning btn-sm" ng-click="operation('edit', row)">编辑</button>
                  </div>
                  <div ng-if="row.empty" class="row-empty"></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <nav class="pagination-container">

            <ul uib-pagination total-items="totalItems" ng-model="$parent.currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination pull-right" boundary-links="true" ng-change="pageChanged()" first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页"></ul>

            <div class="pagination-info pull-right">
              <span>{{currentPage}} / {{pageCount}}，共{{totalItems}}条</span>，<span>每页{{page.pageSize}}条</span>
            </div>
          </nav>
        </div>
      </div>

    </div>
  </div>

</div>
