<div ng-cloak>

  <div uib-navbar profile="profile"></div>

  <div class="framework-main">
    <div uib-sidebar profile="profile" class="sidebar-full" is-collapse="profit.isCollapse" groups="profit.sidebarGroups" item-selected="profit.sidebarSelected"></div>

    <div class="framework-body">
      <uib-breadcrumb class="breadcrumb-wrapper" breads="profit.breads"></uib-breadcrumb>

      <div class="content">
        <nav class="navbar navbar-default navbar-search">
          <div class="container-fluid">
            <form name="search" class="navbar-form navbar-left" role="search" ng-submit="searchSubmit()">
              <div ng-if="cfg.hasAuth(profile, cfg.api.profit.search.url)" class="form-group">
                <input type="text" ng-model="searchForm.keyWord" name="keyWord" class="form-control min-width-250px" placeholder="关键字/公司名称/渠道码/手机号">
              </div>
              <div ng-if="cfg.hasAuth(profile, cfg.api.profit.search.url)" class="form-group">
                <div class="form-control-select form-control-select-w100">
                  <div class="select-group select-group-area select-group-province"></div>
                </div>
              </div>
              <div ng-if="cfg.hasAuth(profile, cfg.api.profit.search.url)" class="form-group">
                <div class="form-control-select form-control-select-w100">
                  <select name="status" class="input-select input-select-w100" placeholder="全部状态"></select>
                </div>
              </div>
              <div ng-if="cfg.hasAuth(profile, cfg.api.profit.search.url)" class="form-group">
                <button type="submit" class="btn btn-default btn-warning"><i class="fa fa-fw fa-search sr-only"></i> 查询</button>
              </div>
            </form>
          </div>
        </nav>

        <div ng-if="page && !loading" class="table-container">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-vertical-middle table-nowrap">
              <thead>
              <tr>
                <!--<th class="text-center td-w45px">
                  <label class="label-checkbox">
                    <input type="checkbox" name="checkbox" ng-model="chAll" ng-change="checkAll()">
                    <i class="icon-checkbox"></i>
                  </label>
                </th>-->
                <th>公司名称</th>
                <th width="5%">渠道码</th>
                <!--<th width="5%">业务区域</th>-->
                <th width="10%">法人代表/实际控制人</th>
                <th width="8%">手机号</th>
                <th width="7%">状态</th>
                <th width="10%">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="row in page.list">
                <!--<td class="text-center td-w45px" data-id="{{row.id}}">
                  <label class="label-checkbox">
                    <input type="checkbox" name="checkbox" ng-model="row.ch" ng-click="check(page, row.ch)">
                    <i class="icon-checkbox"></i>
                  </label>
                </td>-->
                <td>{{row.name}}</td>
                <td>{{row.code}}</td>
                <!--<td>{{row.business_area && profit.getCityString(row.business_area)}}</td>-->
                <td ng-class="{'row-br': row.legal && row.real_name}">
                  <span ng-if="row.legal">{{row.legal}}<span class="legal"> (法人代表)</span></span>
                  <br ng-if="row.legal && row.real_name">
                  <span ng-if="row.real_name">{{row.real_name}}<span class="real_name"> (实际控制人)</span></span>
                </td>
                <td ng-class="{'row-br': row.cellphone && row.real_cellphone}">
                  {{row.cellphone}}
                  <br ng-if="row.cellphone && row.real_cellphone">
                  {{row.real_cellphone}}
                </td>
                <td class="{{(row.profitsSet && row.profitsSet.length) ? 'text-success' : 'text-primary'}}">{{!row.empty ? ((row.profitsSet && row.profitsSet.length) ? '已设置' : '待设置') : ''}}</td>
                <td>
                  <div ng-if="!row.empty">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="goview('profitview', 'view', row.id)">详情</button>
                    <button ng-if="!(row.profitsSet && row.profitsSet.length) && cfg.hasAuth(profile, cfg.api.profit.save.url) && (cfg.hasRoleId(profile.roles,'1') || cfg.hasRoleId(profile.roles,'8'))" type="button" class="btn btn-info btn-sm" ng-click="operation('create', row)">设置</button>
                    <button ng-if="row.profitsSet && row.profitsSet.length && cfg.hasAuth(profile, cfg.api.profit.update.url) && (cfg.hasRoleId(profile.roles,'1') || cfg.hasRoleId(profile.roles,'8'))" type="button" class="btn btn-warning btn-sm" ng-click="operation('edit', row)">编辑</button>
                  </div>
                  <div ng-if="row.empty" class="row-empty"></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <nav class="pagination-container">

            <ul uib-pagination total-items="totalItems" ng-model="$parent.currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination pull-right" boundary-links="true" ng-change="pageChanged()" first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页"></ul>

            <div class="pagination-info pull-right">
              <span>{{currentPage}} / {{pageCount}}，共{{totalItems}}条</span>，<span>每页{{page.pageSize}}条</span>
            </div>
          </nav>
        </div>
      </div>

    </div>
  </div>

</div>
